:root{
    --primary-color:#111317;
    --primary-color-light:#1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light:#d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo img {
    width: 150px;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav_links li a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 600;
}

.right, .left {
    display: grid;
    place-items: center;
    width: 50%,100;
    height: 100vh; 
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns for left and right */
    width: 100vw; /* Full viewport width */
    height: 100%; /* Full height minus nav height */
}

.tex {
    color: var(--text-light);
}

.right {
    background-color: var(--secondary-color);
}

.left {
    background-color: var(--primary-color-extra-light);
}

a {
    text-decoration: none;
}

h1 {
    color: var(--text-light);
    font-size: 2rem;
    text-align: center;
}
